@import '../../style/index.less';

@modalPrefix: tubulang-modal;

.@{modalPrefix}-root {
  &-hidden {
    display: none;
  }

  .@{modalPrefix}-wrap {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: @zindex-modal;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .@{modalPrefix}-mask {
    z-index: @zindex-modal-mask;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @modal-mask-bg;
    height: 100%;
  }

  .@{modalPrefix} {
    background-color: @modal-bg;

    &.@{modalPrefix}-default{
      width: @modal-size-width-default;
      height: @modal-size-height-default;
    }
    &.@{modalPrefix}-lg{
      width: @modal-size-width-lg;
      height: @modal-size-height-lg;
    }
    &.@{modalPrefix}-sm{
      width: @modal-size-width-sm;
      height: @modal-size-height-sm;
    }
  }
}
